@media (prefers-color-scheme: dark)
{
	body
	{
		background-color: #1e1e1e;
		color: #d4d4d4;
	}
	a
	{
		filter: invert(100%) brightness(80%) contrast(80%);
	}
	h2
	{
		color: #c8c8c8;
	}
}
.main_container
{
	display: inline-grid;
	grid-template-columns: minmax(200px, auto) repeat(2, minmax(100px, auto));
	column-gap: 1rem;
	grid-auto-rows: minmax(1.5rem, auto);
	align-items: center;
	white-space: nowrap;
	margin-right: 1rem;
}
.main_container__head
{
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
}
.main_container__head a
{
	text-decoration: none;
	margin-left: 0.2rem;
}
.open-in-browser-icon
{
	text-decoration: none;
	display: inline-block;
	margin-left: auto;
	width: 20px;
	height: 20px;
	background-image: url("/icons/eye.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.main_container__first_column
{
	display: flex;
	justify-content: flex-start;
	column-gap: 0.2rem;
}
.upload_files
{

}
.error_message
{
	color: tomato;
}
.controls
{
	display: flex;
	flex-wrap: wrap;
	max-width: 300px;
	justify-content: space-between;
	row-gap: 0.2rem;
}

.controls > *
{
	width: 47%;
}

@media screen and (max-width: 900px)
{
	.main_container
	{
		grid-template-columns: max-content repeat(2, auto);
	}
}